<h1 class='splash_screen_heading'> My Budget App </h1>

<div class='splash_page_btns'>
  <%= link_to 'Login', new_user_session_path, class: 'splash_btn splash_login_btn' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'splash_btn splash_reg_btn' %>
</div>